@media screen and (max-width: 768px) {
    .container {
        min-width: 80%;
    }

    .menu-bar {
        right: 3vw;
    }
}

@media screen and (max-width: 640px) {
    .container {
        min-width: 90%;
    }  

    .download {
        display: none;
    }

    .menu-bar {
        justify-content: space-evenly;
        flex-direction: row;
        top: 92%;
        height: 50px;
        width: 94%;
    }
}